* {
    --sb-track-color: #ffffff00;
    --sb-thumb-color: #eff2f7;
    --sb-size: 8px;
  }
  
  *::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  *::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 15px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 15px;
  
  }
  
  @supports not selector(::-webkit-scrollbar) {
    * {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }

  html {
    scroll-behavior: smooth;
  }

  input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}