.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

.section-space{
    @apply my-24 lg:my-36
}

.bg-hover {
    @apply p-1 rounded-sm transition-colors duration-300;

    &:hover {
        @apply bg-primary text-white cursor-pointer
    }

}

.bg-hover-secondary {
    @apply p-1 rounded-sm transition-colors duration-300;

    &:hover {
        @apply bg-secondary text-black cursor-pointer
    }
}

.link {
    @apply cursor-pointer transition-colors duration-300 hover:text-text;
}

.link-reverse {
    @apply text-text cursor-pointer transition-colors duration-300 hover:text-black;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1248px;
    }
}